hr
div(class="footer") 
  p &copy; 2012 tuer.me 
   a(href="http://#{config.host}/") (PC用户使用IE8以上浏览器可进入高级版)
  p 使用
    a(href='http://www.google.cn/intl/zh-CN/chrome/browser/',target='_blank') chrome
    ,
    a(href='http://firefox.com.cn/download/',target='_blank') firefox
    ,
    a(href='http://www.apple.com.cn/safari/',target='_blank') safari
    ,
    a(href='http://www.opera.com/browser/',target='_blank') opera
    等浏览器可直接进入高级版获得更好体验.
  p 
   a(href="http://#{config.mhost}/diary/50851ba98bd5768b4d000001",title="提交BUG") 提交BUG 
   script(src="http://s96.cnzz.com/stat.php?id=5598883&web_id=5598883",language="JavaScript")
