hr
footer
 p 网站基于Nodejs开发 版权所有 &copy; 2012-2022 Tuer.me 
   span | 友情连接 
   a(href='http://www.luoo.net/',target='_blank') 落网 
   a(href='http://www.duole.com/',target='_blank') 多乐电台 
 p
   each item,i in config.footer
     a(href='#{item.href}') #{item.text} 
   script(src="http://s96.cnzz.com/stat.php?id=5598883&web_id=5598883&online=2",language="JavaScript")
 div
   iframe(src="http://ghbtns.com/github-btn.html?user=xiaojue&repo=tuer.me&type=watch&count=true",allowtransparency="true",frameborder="0",scrolling="0",width="85",height="20")
   iframe(src="http://ghbtns.com/github-btn.html?user=xiaojue&repo=tuer.me&type=fork&count=true",allowtransparency="true",frameborder="0",scrolling="0",width="85",height="20")
   iframe(src="http://ghbtns.com/github-btn.html?user=xiaojue&repo=tuer.me&type=follow&count=true",allowtransparency="true",frameborder="0",scrolling="0",width="165",height="20")
script.
   var _gaq = _gaq || [];
   _gaq.push(['_setAccount', 'UA-33569930-1']);
   _gaq.push(['_setDomainName', 'tuer.me']);
   _gaq.push(['_trackPageview']);
   (function() {
     var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
     ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
     var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
   })();
